@import "../../commonStyles/colors";

.transactionsHeading, .transactionsHeading.subHeading {
  position: relative;
  font-size: 18px;
  line-height: 24px;
  @media(min-width: 860px) {
    font-size: 33px;
    line-height: 33px;
    margin-bottom: 24px;
  }
}

.transactionsTrigger {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  height: 24px;
  width: 24px;
  background-color: $secondary;
  display: flex;
  justify-content: center;
  align-items: center;
  @media(min-width: 860px) {
    height: 42px;
    width: 42px;
    & img {
      width: 29px;
      height: 29px;
    }
  }
}

.moreTransactionsWrapper {
  text-align: center;
}

.moreTransactions {
  width: 100%;
  min-height: 35px;
  max-width: 280px;
  color: $mainTextColor;
  font-family: Avenir, sans-serif;
  font-size: 14px;
  border-radius: 4px;
  margin-bottom: 16px;
  line-height: 35px;
}